/** ----------------------------------------------------------------
 * Table of Contents (CSS):
 * 1.0 - Adjusting for side navigation

 * -------------------------------------------------------------------
 */


/**
 * 1.0 Adjusting for side navigation
 * ----------------------------------------------------------------------------*/


#s-lg-guide-tabs .dropdown-menu {
  margin: 0em 0 0 -1px !important;
}

#s-lg-tabs-container .nav-tabs > li > a,
#s-lg-tabs-container .nav-tabs > li > button,
#s-lg-tabs-container .nav-pills > li > a,
#s-lg-tabs-container .nav-pills > li > button {
    display: block;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #e0e0e0;
    color: #c3142d!important;
    font-weight: bold;
    padding: 7px 15px!important;
    margin: 0em 0 0 0!important;
}

li.nav-item {
   font-size: 1rem;
   font-weight: bold;
   padding: 0 0 0 0;
   margin: 0 5px 0.25rem 0!important
}

#s-lg-tabs-container .nav-tabs > li > a:hover,
#s-lg-tabs-container .nav-tabs > li > button:hover,
#s-lg-tabs-container .nav-pills > li > a:hover,
#s-lg-tabs-container .nav-pills > li > button:hover {
  border: 1px solid transparent;
        border-radius: 4px;
    background-color: #c3142d;
    color: #fff!important;
}

#s-lg-tabs-container .nav-tabs > .active > a,
#s-lg-tabs-container .nav-tabs > .active > button,
#s-lg-tabs-container .nav-pills > .active > a,
#s-lg-tabs-container .nav-pills > .active > button {
    color: #fff!important;
    cursor: default;
    background-color: #c3142d;
    border: 1px solid transparent;
        border-radius: 4px;
    border-bottom-color: transparent;
    font-weight: bold;
}

#s-lg-tabs-container .nav-tabs > .active > .s-lg-subtab-ul > .active > a,
#s-lg-tabs-container .nav-tabs > .active > .s-lg-subtab-ul > .active > button {
    color: #fff;
    cursor: default;
    background-color: #70A1EB;
    border-bottom-color: transparent;
}

#s-lg-tabs-container .nav .dropdown-toggle .caret {
    border-top-color: #e1e1e1;
}
#s-lg-tabs-container .nav-tabs button.dropdown-toggle .caret {
    margin-left: 2px;
    margin-top: -3px;
}
#s-lg-tabs-container .nav-tabs > li > a.s-lg-tab-drop {
    border-radius: 0 4px 0 0;
    padding: 4px 6px 4px 3px;
    border-left: 1px solid transparent;
}
#s-lg-tabs-container .nav-tabs > li > button.s-lg-tab-drop {
    border-radius: 0 4px 0 0;
    padding: 4px 6px 0px 3px;
    border-left: 1px solid transparent;
    margin-right: 2px;
}
#s-lg-tabs-container .nav-tabs > li > a.s-lg-tab-drop:hover {
    border-radius: 0 4px 0 0;
    border-left: 1px solid #bbb;
    padding: 4px 6px 4px 3px;
}
#s-lg-tabs-container .nav-tabs > li > button.s-lg-tab-drop:hover {
    border-radius: 0 4px 0 0;
    border-left: 1px solid #bbb;
    padding: 4px 6px 0px 3px;
}
#s-lg-tabs-container .nav-tabs > li > a.s-lg-tab-top-link,
#s-lg-tabs-container .nav-tabs > li > a.s-lg-tab-top-link:hover,
#s-lg-tabs-container .nav-tabs > li > button.s-lg-tab-top-link,
#s-lg-tabs-container .nav-tabs > li > button.s-lg-tab-top-link:hover {
    border-radius: 4px 0 0 0;
    font-weight: bold;
    padding: 4px 5px 4px 10px;
}
.nav-tabs > li > a.s-lg-tab-top-link,
.nav-tabs > li > button.s-lg-tab-top-link {
    margin-right: 0px;
}

#s-lg-tabs-container .nav-pills > li > a.s-lg-tab-drop,
#s-lg-tabs-container .nav-pills > li > button.s-lg-tab-drop {
    border-radius: 0 4px 0 0;
    padding: 4px 8px 4px 8px;
    border-left: 1px solid transparent;
    position: absolute;
    right: 0;
}
#s-lg-tabs-container .nav-pills > li > a.s-lg-tab-drop:hover,
#s-lg-tabs-container .nav-pills > li > button.s-lg-tab-drop:hover {
    border-radius: 0 4px 0 0;
    border-left: 1px solid #bbb;
    padding: 4px 8px 4px 8px;
}
#s-lg-tabs-container .nav-pills > li > a.s-lg-tab-top-link,
#s-lg-tabs-container .nav-pills > li > a.s-lg-tab-top-link:hover,
#s-lg-tabs-container .nav-pills > li > button.s-lg-tab-top-link,
#s-lg-tabs-container .nav-pills > li > button.s-lg-tab-top-link:hover {
    width: 100%;
    float: left;
    border-radius: 4px;
    font-weight: bold;
    padding: 4px 15px 4px 15px;
}

.s-lib-box-container .s-lib-jqtabs ul.nav-tabs li.active {
  border-left: 1px solid #ccc!important;
  border-top: 1px solid #ccc!important;
  border-right: 1px solid #ccc!important;
  border-bottom: 1px solid #fff!important;
    background-color: #fff;
  border-radius: 4px 4px 0 0;
  padding: 5px 15px 3px 15px;
  margin: 0 0px -1px 10px; 
}

.s-lib-box-container .s-lib-jqtabs ul.nav-tabs li {
  border-left: 1px solid #ccc!important;
  border-top: 1px solid #ccc!important;
  border-right: 1px solid #ccc!important;
  border-bottom: 1px solid #ccc!important;
  background-color: #eee;
  border-radius: 4px 4px 0 0;
  padding: 5px 15px 3px 15px;
  margin: 0 0px -1px 10px; 
}



#s-lg-guide-tabs > .nav {
  flex-direction: column !important;
}

ul.dropdown-menu {
  padding: 0px !important;
  margin: 0!important;
}

.dropdown-menu > .active > a {
  background: white !important;
}

.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
  background: #c3142d !important;
}

.dropdown-item > a {
  padding: 0.25em 1.25em !important;
  font-size: 0.85rem;
}

.dropdown-menu li a {
  font-size: 0.85rem;
}



#s-lib-bc {
    margin: 0rem 0 -0.5rem 0;
}


ul.nav-stacked li {
  margin: 0.5em 0;
  border-radius: 5px;
  padding: 0 0;
}

ul.nav-stacked li a {
  padding: 0.5em 1.25em !important;
  font-size: 1em;
  color: #941728 !important;
}

ul.nav-stacked li a:hover {
  color: #fff !important;
  background: #941728 !important;
  border-radius: 5px;
}

ul.nav-stacked li a.active {
  color: #fff !important;
}

ul.nav-stacked li.dropdown ul.s-lg-subtab-ul {
  background-color: #fff;
  width: 100%;
margin-top: 2em!important;
}

ul.nav-stacked li.dropdown ul.s-lg-subtab-ul li {
  border: none;
}